{
    "env": {
        "development": {
            "presets": [
                ["env", {
                    "targets": {
                        "electron": "1.6.8"
                    }
                }],
                "react",
                "flow"
            ],
            "plugins": [
                ["module-resolver", {
                    "alias": {
                        "@root": ".",
                        "@databases": "./databases"
                    },
                    "root": ["./src"],
                    "cwd": "packagejson"
                }],
                "transform-decorators-legacy",
                "transform-class-properties",
                "transform-object-rest-spread"
            ],
            "sourceMaps": "inline"
        },
        "production": {
            "presets": [
                ["env", {
                    "targets": {
                        "electron": "1.6.8"
                    }
                }],
                "react",
                "flow"
            ],
            "plugins": [
                ["module-resolver", {
                    "alias": {
                        "@root": ".",
                        "@databases": "../app.asar.unpacked/databases"
                    },
                    "root": ["./src"],
                    "cwd": "packagejson"
                }],
                "transform-decorators-legacy",
                "transform-class-properties",
                "transform-object-rest-spread"
            ],
            "sourceMaps": "none"
        }
    }
}