{
  "plugins": [
		"add-module-exports",
		"syntax-export-extensions",
		"transform-es2015-modules-commonjs",
		"transform-decorators-legacy",
		"transform-class-properties",
		"transform-es2015-destructuring",
		"transform-object-rest-spread",
		["babel-plugin-inferno", {"imports": true}],
		["fast-async"]
  ]
}