.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    height: 200px;
    width: 200px;
}

.screenshot {
    width: 100%;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
}